@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Did this as writing dark:from-white wouldn't work, and wouldn't show up
   * in the dev console 
   * */
  .fade-text {
    background-image: linear-gradient(to bottom, black 50%, transparent);
  }

  .dark .fade-text {
    background-image: linear-gradient(to bottom, white 50%, transparent);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @apply bg-slate-50 dark:bg-black;
}

a {
  text-decoration: underline;
  @apply text-blue-700 hover:text-blue-950 dark:text-cyan-600 
  dark:hover:text-cyan-300;
}
