.main {
  display: flex;
  min-height: 100vh;
  @apply scroll-smooth w-11/12 justify-items-center lg:mx-12;
}

.core {
  @apply bg-slate-600 w-full;
}

.navbar {
  @apply bg-neutral-300 sticky top-0 flex place-content-center py-2;
}

.navbar_button {
  @apply mx-10 text-xl font-bold text-purple-800 hover:text-pink-500;
}

.main_title {
  width: fit-content;
  @apply bg-neutral-300 rounded p-2 text-4xl font-bold text-purple-600;
}

.main_subtitle {
  width: fit-content;
  @apply bg-neutral-300 rounded p-2 text-xl font-bold;
}

.section {
  @apply col-span-6 w-full py-8;
}

.section_title {
  @apply mx-2 text-2xl font-bold text-purple-600;
}

.section_body {
  @apply bg-neutral-300 mx-2 rounded p-6;
}

.card_format {
  @apply max-h-60 overflow-hidden;
}

.card_style {
  @apply bg-neutral-100 mx-2;
}

.card_button {
  @apply text-neutral-900 font-bold;
}

.proj_title {
  @apply text-2xl font-bold;
}

.proj_desc {
  @apply text-lg;
}

.modal {
  overflow-y: auto;
  @apply absolute left-1/2 top-1/2 z-50 h-full w-full max-w-[700px] translate-x-[-50%] translate-y-[-50%] rounded-xl border-solid border-gray-400 bg-gray-300 p-8;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    @apply bg-black;
  }

  .navbar_button {
    @apply text-purple-600 hover:text-pink-600;
  }

  .main_title {
    @apply bg-neutral-800;
  }

  .main_subtitle {
    @apply bg-neutral-800;
  }

  .section_body {
    @apply bg-neutral-800;
  }

  .modal {
    @apply bg-neutral-800;
  }

  .card_style {
    @apply bg-neutral-800 text-white;
  }

  .card_button {
    @apply text-neutral-200;
  }
}
