.main {
  display: grid;
  width: 96%;
  @apply mx-2 h-full grid-cols-6 justify-items-center scroll-smooth lg:mx-10;
}

.navbar {
  @apply sticky top-0 z-20 flex flex-col flex-wrap justify-start py-2 backdrop-blur-lg;
}

.nav_container {
  @apply flex-grow list-none flex-col flex-wrap justify-evenly lg:flex lg:flex-row lg:justify-center;
}

.navbar_button_container {
  @apply mx-4 my-2 lg:mx-8;
}

.navbar_button {
  @apply rounded-xl px-4 py-1 text-xl font-bold hover:text-pink-500;
}

.main_title {
  width: fit-content;
  @apply rounded p-2 text-5xl font-bold text-purple-600;
}

.main_subtitle {
  width: fit-content;
  @apply rounded p-2 text-2xl font-bold;
}

.section {
  @apply col-span-6 w-11/12 justify-self-center py-8 lg:w-4/5;
}

.section_title {
  @apply mx-2 my-3 w-fit rounded p-2 text-3xl font-bold 
  text-purple-600;
}

.section_body {
  @apply mx-2 rounded bg-neutral-300 p-6 text-lg dark:bg-neutral-800;
}

.section_title,
.main_subtitle,
.main_title,
.navbar_button {
  @apply bg-neutral-300 text-purple-800 dark:bg-neutral-800 dark:text-purple-300;
}

.card_format {
  @apply z-10 h-60;
}

.card_style {
  @apply mx-2 bg-neutral-100 text-neutral-900;
}

.card_desc {
  overflow: hidden;
  text-overflow: ellipsis;
  background-image: linear-gradient(to bottom, black 50%, transparent);
  background-clip: text;
  color: transparent;
  @apply h-5/6 text-lg;
}

.card_button {
  @apply justify-self-end font-bold text-neutral-900;
}

.proj_title {
  @apply justify-self-start text-2xl font-bold;
}

.proj_desc {
  @apply h-5/6 overflow-scroll text-lg lg:max-h-[600px];
}

.modal {
  @apply absolute left-1/2 top-1/2 z-50 h-5/6 w-full translate-x-[-50%] translate-y-[-50%]
    rounded-xl border-solid border-gray-400 bg-gray-300 p-8 
    lg:h-auto lg:min-h-fit lg:max-w-[900px];
}

.footer {
  @apply my-10 text-center text-gray-900;
}

.list_format {
  @apply lg:grid lg:grid-cols-2;
}

.list_style {
  @apply list-inside list-disc;
}

.textbox {
  @apply w-full rounded-md border-[2px] border-neutral-300 bg-neutral-100 px-2 
  text-black;
}

@media (prefers-color-scheme: dark) {
  .textbox {
    @apply border-neutral-700 bg-neutral-900;
  }

  .modal {
    @apply bg-neutral-900;
  }

  .footer {
    @apply text-gray-400;
  }

  .card_style {
    @apply bg-neutral-900 text-white;
  }

  .card_button {
    @apply text-neutral-200;
  }
  .card_desc {
    background-image: linear-gradient(to bottom, white 50%, transparent);
  }
}
