.main {
  display: flex;
  min-height: 100vh;
  @apply w-11/12 justify-items-center scroll-smooth lg:mx-12;
}

.core {
  @apply w-full bg-slate-600;
}

.navbar {
  @apply sticky top-0 flex place-content-center bg-neutral-300 py-2;
}

.navbar_button {
  @apply mx-10 text-xl font-bold text-purple-800 hover:text-pink-500;
}

.main_title {
  width: fit-content;
  @apply rounded bg-neutral-300 p-2 text-4xl font-bold text-purple-600;
}

.main_subtitle {
  width: fit-content;
  @apply rounded bg-neutral-300 p-2 text-xl font-bold;
}

.section {
  @apply col-span-6 w-full py-8;
}

.section_title {
  @apply mx-2 text-2xl font-bold text-purple-600;
}

.section_body {
  @apply mx-2 rounded bg-neutral-300 p-6;
}

.card_format {
  @apply h-60 overflow-hidden;
}

.card_style {
  @apply mx-2 bg-neutral-100;
}

.card_button {
  @apply font-bold text-neutral-900;
}

.proj_title {
  @apply text-2xl font-bold;
}

.proj_desc {
  @apply text-lg;
}

.modal {
  overflow-y: auto;
  @apply absolute left-1/2 top-1/2 z-50 h-5/6 w-full max-w-[700px] translate-x-[-50%] translate-y-[-50%] rounded-xl border-solid border-gray-400 bg-gray-300 p-8 lg:h-fit lg:max-h-[700px];
}

@media (prefers-color-scheme: dark) {
  .navbar {
    @apply bg-black;
  }

  .navbar_button {
    @apply text-purple-600 hover:text-pink-600;
  }

  .main_title {
    @apply bg-neutral-800;
  }

  .main_subtitle {
    @apply bg-neutral-800;
  }

  .section_body {
    @apply bg-neutral-800;
  }

  .modal {
    @apply bg-neutral-800;
  }

  .card_style {
    @apply bg-neutral-800 text-white;
  }

  .card_button {
    @apply text-neutral-200;
  }
}
